{% extends "base.html" %} {% block content %}
<div class="flex flex-col">
  <div
    class="flex p-2 mt-5 w-full justify-between text-center block bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <h3 class="mt-2 w-10 text-lg font-medium text-gray-700 dark:text-gray-400">
      Info:
    </h3>
    <div class="flex justify-between">
      <label
        class="block mt-2 mr-2 text-lg font-medium text-gray-700 dark:text-gray-400"
        >user:</label
      >
      <input
        class="text-center border bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        size="32"
        name="user"
        type="text"
        value="{{ '' }}"
      />
    </div>
    <div class="flex justify-between">
      <label
        class="block mt-2 mr-2 text-lg font-medium text-gray-700 dark:text-gray-400"
        >object:</label
      >
      <input
        class="text-center border bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        size="4"
        minlength="4"
        maxlength="4"
        name="nobj"
        type="text"
        value="{{ '' }}"
      />
    </div>
    <a href="#"
      ><button
        type="button"
        class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        Find
      </button></a
    >
  </div>
  <div
    class="flex p-2 mt-5 w-full justify-between text-center block bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    <h3 class="mt-2 w-10 text-lg font-medium text-gray-700 dark:text-gray-400">
      Events:
    </h3>
    <div class="flex justify-between">
      <label
        class="block mt-2 mr-2 text-lg font-medium text-gray-700 dark:text-gray-400"
        >user:</label
      >
      <input
        class="text-center border bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        size="32"
        name="user"
        type="text"
        value="{{ '' }}"
      />
    </div>
    <div class="flex justify-between">
      <label
        class="block mt-2 mr-2 text-lg font-medium text-gray-700 dark:text-gray-400"
        >object:</label
      >
      <input
        class="text-center border bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        size="4"
        minlength="4"
        maxlength="4"
        name="nobj"
        type="text"
        value="{{ '' }}"
      />
    </div>
    <a href="#"
      ><button
        type="button"
        class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
      >
        Find
      </button></a
    >
  </div>
</div>
{% endblock %}
